@model TaskEntity

<h2>Add a new task to your board</h2>
<br />
<style>
    .flex-container {
        display: flex;
        align-items: flex-start;
    }

    .form-container {
        margin-right: 40px; 
    }

    img {
        width: 300px;
        height: 300px;
    }
</style>


<div class="flex-container">
    <div class="form-container">
        <form method="post">


            <input type="hidden" asp-for="TaskId" />

            <label asp-for="TaskName">Task Name:</label>
            <input asp-for="TaskName" />
            <br /><br />
            <label asp-for="DueDate">Due Date:</label>
            <input asp-for="DueDate" />
            <br /><br />
            <label asp-for="Quadrant">Quadrant:</label>
            <select asp-for="Quadrant">
                <option value="1">Quadrant 1</option>
                <option value="2">Quadrant 2</option>
                <option value="3">Quadrant 3</option>
                <option value="4">Quadrant 4</option>
            </select>
            <br /><br />
            <label asp-for="Category">Category:</label>
            <select asp-for="Category">
                <option value=" ">Select a Category</option>
                @foreach (Category c in ViewBag.Categories)
                {
                    <option value="@c.CategoryId">@c.CategoryName</option>
                }
            </select>
            <br /><br />
            <label asp-for="IsCompleted">Completed:</label>
            <select asp-for="IsCompleted ">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
            <br /><br /><br />
            <button type="Submit">Submit Task</button>

            <div asp-validation-summary="All"></div>
            </form>
        </div>

    <img src="~/7_habits_decision-making_matrix.png" alt="Image Description" />
</div>
